:root {
  --dark-grey: #333;
  --dark-red: rgb(192,0,0);
  --border-grey: #ccc; /* #dddddd */
  --main-blue: #4179fc;
  --dark-blue: #2b64e8;
  --text-grey-light: #888;
  --light-text: white;
  --hover-transition: 0.3s;
}

.button {
  display: inline-block;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
}

.button-blue {
  color: var(--main-blue);
	border-color: var(--main-blue);
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
}