body {
  padding: 10px;
}

.options-headline {
  display: block;
  width: 100%;
}

.options-headline-text {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-red);
}

#options-URLsTextArea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  min-height: 80px;
  margin-bottom: 15px;
}

.backupOptions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
}

.button-options-save {
	color: var(--light-text);
	background: linear-gradient(135deg, rgba(14,205,0,1) 0%, rgba(0,147,18,1) 94%);
	box-shadow: 2px 4px 10px -4px rgba(0,0,0,0.54);
  transition: var(--hover-transition);
}

.button-options-save:hover {
	box-shadow: 2px 4px 6px -4px rgba(0,0,0,0.54);
  transition: var(--hover-transition);
}

.button-options-save:active {
	box-shadow: 2px 4px 0px -4px rgba(0,0,0,0.54);
}

.button-options-delete {
	color: var(--dark-red);
	border-color: var(--dark-red);
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	border-radius: 5px;
}

.button-options-delete,
.button-options-export {
  /* the 1px border unintentionally increases the button's height by 2px */
  padding-top: 9px;
	padding-bottom: 9px;
}