html {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
  border: none;
  width: max-content;
  font-size: 14px;
}

body {
	overflow: hidden;
	font-family: sans-serif;
	margin: 0px;
	height: auto;
  border: none;
}

header {
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 10px); /* padding = 5px + 5px */
  height: 25px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-grey);
  color: var(--light-text);
}

.header-logo {
  height: 18px;
  width: auto;
  cursor: default;
  vertical-align: -2px; /* otherwise the logo wouldn't be vertically centered */
}

.header-text {
  font-weight: bold;
  cursor: pointer;
}

.header-version {
  cursor: default;
  font-size: 0.9em;
  border-radius: 5px;
  background-color: var(--dark-red);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.addCurrent {
  margin-top: 0px;
	text-align: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: var(--border-grey);
	border-width: 1px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	background-image: url("../img/arrows.png");
	background-size: auto 100%;
}

.addCurrent--unsupported {
  cursor: default;
}

.addCurrentButton {
  font-weight: bold;
	font-size: 0.9em;
	color: var(--dark-red);
}

.addCurrent--unsupported .addCurrentButton {
  color: var(--text-grey-light) !important;
}

.description {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
	cursor: default;
  border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--border-grey);
  text-align: center;
}

.description-text {
  font-size: 0.85em;
	color: var(--text-grey-light);
}

.url-container {
  max-height: 300px;
	padding-left: 10px;
	padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
	overflow-y: auto;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--border-grey);
}

.url-container-inner {
  display: inline-flex;
  flex-direction: column;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}

.url-single {
  display: grid;
  grid-template-rows: repeat(2,auto);
  height: min-content;
}

.url-single-top {
  grid-row: 1;
  display: flex;
  height: min-content;
  flex-direction: row;
  align-items: center;
	align-content: center;
	display: grid;
	grid-template-columns: 16px auto auto;
}

.url-icon {
	grid-column: 1;
	display: inline-block;
	color: var(--text-grey-light);
	cursor: default;
	text-align: center;
}

.url-pin-button {
	grid-column: 1;
  display: inline-block;
  color: var(--text-grey-light);
  cursor: pointer;
  transition: var(--hover-transition);
	text-align: center;
}

.url-pin-button:hover {
  color: var(--main-blue);
  transition: var(--hover-transition);
}

.url-pin-button--active {
  color: var(--main-blue);
  display: none;
}

.url-pin-button--active:hover {
  color: var(--dark-blue);
}

.url-pin-button--invisible {
  color: transparent;
  visibility: hidden;
}

.url-input {
	grid-column: 2;
  width: 180px;
	height: 20px;
	border-color: var(--dark-red);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	padding-left: 5px;
	margin-bottom: 5px;
  transform: translate(0,2px);
  margin-left: 10px;
  margin-right: 10px;
}

.url-button {
	grid-column: 3;
  cursor: pointer;
  font-size: 20px;
	color: var(--dark-red);
  position: relative;
  display: inline-block;
}

.url-warning {
  display: none;
  grid-row: 2;
  color: var(--dark-red);
	font-size: 0.8em;
	font-weight: bold;
  width: fit-content;
  text-align: left;
  margin-left: 27px;
  margin-bottom: 5px;
}

.url-warning-visible {
  display: inline-block;
}

.pinTab-container {
  width: 100%;
	text-align: center;
  padding-top: 10px;
}

.main-action-container {
	width: 100%;
	height: fit-content;
	text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.button-delete {
  margin-right: 10px;
}

.button-open {
	padding-top: 11px;
	padding-bottom: 11px;
	background: linear-gradient(135deg, rgba(255,106,0,1) 24%, rgba(192,41,0,1) 100%);
	box-shadow: 2px 4px 10px -4px rgba(0,0,0,0.54);
	color: white;
	margin-bottom: 5px;
  transition: var(--hover-transition);
}

.button-open:hover {
	box-shadow: 2px 4px 6px -4px rgba(0,0,0,0.54);
  transition: var(--hover-transition);
}

.button-open:active {
	box-shadow: 2px 4px 0px -4px rgba(0,0,0,0.54);
}